#${LILLY_CLS_PATH}/source/Data/${Name}.test
!: No specific output location requested :!
!: Comments starting with '!:' won't be passed to the target file and are informative :!

! This line will make it to the output-file !

lilly-author    =     ${Name}

!: If the expandable '${HAMSTER}' won't be supplied, this line will not be printed as for the leading ':':!
: lilly-hamster =     ${HAMSTER}